/* Grundlæggende styling */

body {
    margin: 0;
    padding: 0;
    background-color: #FAF8F3;
    overflow-x: hidden;
    font-family: "montserrat", sans-serif;
    font-weight: 100;
    color: #4C413B;
  }
  
  p {
    font-family: "montserrat", sans-serif;
    font-weight: 100;
    line-height: 1.5;
    font-size: 18px;
    color: #4C413B;
  }
  
  h1 {
    text-align: center;
    margin-top: 110px;
    padding-bottom: 50px;
    color: #163E61;
    font-family: "the-seasons", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    
  }
  
  h2 {
    font-family: "the seasons", serif;
    font-size: 48px;
    color: #163E61;
    font-weight: bold
    
  }
  
  /* navigation styling */
  
  header nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color:#FAF8F3;
    padding-bottom: 40px;
  }
  
  .wrapper {
    position: relative;
    padding: 0 30px;
    height: 70px;
    margin: auto;
    display: flex; /* Aktivere flexbox, for at få elementerne vandret / ved siden af hinanden */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .wrapper .logo a {
    color: #4C413B;
    font-size: 30px;
    text-decoration: none;
    font-family: "playfair-display";
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: "montserrat", sans-serif;
  }
  
  .nav-links li a {
    color: #4C413B;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 30px;
    border-radius: 5px;
    transition: all 0.4s ease;
    font-family: "montserrat", sans-serif;
    font-weight: 100;
  }
  
  .nav-links li a:hover {
  text-decoration: underline;
  }
  
  /* Mega dropdown-menu styling */
  .mega-box {
    display: none; /* Skjuler dropdown-menuen som standard */
    position: absolute; /* Placerer dropdown-menuen i forhold til navigationen, hvor vi har sat position: relative* - Hvis denne blev fjernet vil dropwdown ikke længere opføre sig som vi ønsker, men blot som et almindeligt blokelement */
    left: 0; /* Placerer dropdown-menuen til venstre for navigationen */
    width: 100%;
    padding-top: 20px;
    top: 50px; /* Placerer dropdown-menuen 50 pixels ned i forhold til toppen af nærmeste potionerede forældre */
    z-index: 1000;
  }
  
  .nav-links li:hover .mega-box {
    display: block; /* Viser dropdown-menuen ved hover */
  }
  
  .mega-box .content {
    background-color: #FAF8F3;
    border: 10px;
    padding: 10px 40px; 
    width: 100%; /* Giver dropdown-menuen en bredde på 100% af dens forælder */
   
    flex-direction: row;
  }
  
  .main {
    line-height: 30px;
  }
  
  .main p {
    color:  #4C413B;
    font-weight: bold;
    font-size: 25px;
  }
  
  .mega-links li {
    margin-left: -40px;
  }
  
  .mega-links li {
    list-style: none; /* Fjerner punkttegn fra listen */
  }
  
  .mega-links li a {
    text-decoration: none; /*fjerner understregning fra links */
    color:  #4C413B;
    font-size: 16px;
    padding: 5px 0;
    display: inline-block; /* Kan stå på linje som andre elementer, og samtidig opføre sig som et block-element, hvor man kan give det bredde, højde, padding m.m. */
    font-family: 'Work Sans', sans-serif;
  }
  
  /* Burger-menu styling */
  
  .menu-icon {
    display: none;
    font-size: 2rem; /* Svarende til 32px - 2 x 16px som er standard fontstørrelsen */
    cursor: pointer;
    color: #4C413B;
  }
  
  .menu-checkbox {
    display: none; /* Skjuler checkboxen */
  }

  /* Responsiv header */
  
  @media (max-width: 768px) {
    /* Viser burger-menu-ikonet på mindre skærme */
    .menu-icon {
      display: block;
    }
  /* Navigation-links: skjules som standard på mobil og vises som en dropdown-menu */
    .nav-links {
      display: none; /* Skjuler navigationen */
      flex-direction: column; /* Gør navigationen lodret */
      background-color: #FAF8F3; /* Baggrundsfarve til navigationen */
      position: absolute; /* Placerer navigationen som en overlay */
      top: 50px; /* Placerer navigationen lige under headeren */
      right: 0; /* Justerer navigationen til højre */
      width: 100%; /* Navigationen fylder hele bredden */
      z-index: 1000; /* Sørger for, at navigationen vises øverst */
      padding: 10px; /* Tilføjer indvendig afstand */
    }
  /* Når checkboxen er markeret, vises navigationen */
    .menu-checkbox:checked + .menu-icon + .logo + .nav-links {
      display: flex; /* Viser navigationen */
    }
  /* Navigationselementer: hver liste fylder hele bredden */
    .nav-links li {
      width: 100%;/* Gør hvert element 100% bredt */
    }
  /* Links i navigationen: styling til mobil */
    .nav-links li a {
      display: block; /* Gør links til blokkelementer */
      padding: 15px; /* Tilføjer indvendig afstand */
      font-size: 18px; /* Øger tekststørrelsen for bedre læsbarhed */
      color: #000000; /* Sort tekstfarve */
    }
  /* Dropdown-menu: vises, når brugeren holder musen over */
    .nav-links li:hover .mega-box {
      display: block; /* Viser dropdown-menuen */
    }
  /* Dropdown-menuens indhold: styling til mobil */
    .mega-box .content {
      flex-direction: column; /* Gør dropdown-menuens indhold lodret */
      background-color: #FAF8F3;/* Baggrundsfarve */
    }
  
    /* Dropdown-menuens sektioner: fylder hele bredden */
    .main {
      width: 100%; /* Gør hver sektion 100% bred */
    }
  /* Skjuler dropdown-menuen som standard */
    .mega-box {
      display: none !important; /* Skjuler dropdown-menuen */
    }

  }
  
      /* forside herosektion */

  .forsidebillede {
    position: relative;
  }
  
  .forsidebillede img {
    width: 100%;
    padding-top: 60px;
  }
  
  .overlay-image {
    position: absolute;
    top: 10%;
    color: white;
    padding: 40px;
    
  }
  
  .overlay-image h2 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 100;
    color: white;
    margin-bottom: 0;
    font-family: "the seasons", serif;
  }
  .overlay-image h2 + h2 {
    margin-top: -10px;
  }
  
  .overlay-image h3 {
    margin-bottom: 10px;
    font-family: "the seasons", serif;
    font-size: 40px;
    font-weight: 100;
    margin-top: 0;
  }
/* druekæde */

  .druer img {
    width: 100%;
    height: auto;
    margin-top: -170px;
    position: relative;
  }

/* Vinsmage sektion */

.section {
  text-align: center;
  padding-bottom: 100px;
}

.section h1 {
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #163E61;
  margin-top: 50px;
}
.section h2 {
  font-size: 30px;
}

.vinsmag-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.vinsmag-card {
  max-width: 300px;
}

.vinsmag-card img {
  width: 100%;
  height: auto;
}

.vinsmag-card h2 {
  font-size: 30px; 
  font-family: "the seasons", serif;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #163E61;
  text-align: left;
}

.vinsmag-card p {
  font-size: 18px;
  color:  #4C413B;
  text-align: left;
}

.knap {
  margin-top: 40px;
}

.knap a {
  background-color: #1a2a40;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 1em;
}
.knap a:hover {
  background-color: white;
  color: #1a2a40;
  border: 2px solid #1a2a40;
}
/* Hvem er vi og oplev havblink section */

.hvemervisection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.hvemervisection img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 80px;
}

.text-content h2 {
  font-size: 48px;
  text-align: right;
}

.text-content p {
  font-size: 18px;
  color:  #4C413B;
  text-align: right;
  margin-bottom: 24px;
  max-width: 300px;
}
.oplevhavblink-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
 
}

.oplevhavblink-image { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.oplevhavblink-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}
.oplevhavblink-image img {
  width: 100%;
  height: auto;
  display: block;
}
.hvemervi-image img {
  width: 100%;
  height: auto;
  display: block;
}

.oplevhavblink-content h2 {
  font-size: 48px;
  text-align: left;
}

.oplevhavblink-content p {
  font-size: 18px;
  color:  #4C413B;
  text-align: left;
  margin-bottom: 24px;
  max-width: 300px;
}
.knap2 {
  margin-top: 40px;
  text-align: left;
}

.knap2 a {
  background-color: #1a2a40;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 1em;
}

.knap1 {
  margin-top: 40px;
  text-align: left;
}

.knap1 a {
  background-color: #1a2a40;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 1em;
}

/* Fra druen til glasset sektion */

.overlay-image2 {
  position: absolute;
  top: 0;
  color: white;
  padding: 40px;
}

.overlay-image2 h2 {
  font-size: 48px;
  font-family: "the seasons", serif;
  text-align: center;
}
.overlay-image2 p {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
.druebillede img {
  width: 100%;
}
.druebillede {
  position: relative;
}

.druebillede2 img {
  width: 100%;
}
.druebillede2 {
  position: relative;
}

/* Udforsk mere - karussel */

.udforsk-karussel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 50px;
  margin-bottom: 70px;
  padding-left: 80px;
}

.produkt-kort {
  flex-shrink: 0;
  width: 380px;
  scroll-snap-align: center;
}

.produkt-kort img {
  width: 100%;
  display: block;
}

.produkt-info {
  display: flex;
  justify-content: space-between;
  color: #4C413B;
}

.karussel h2 {
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.karussel h3 {
  font-family: "the seasons", serif;
  font-size: 30px;
  color: #4C413B;
  font-weight: 100;
}
.produkt-link {
  text-decoration: none; /* Fjern understregning på hele linket */
  color: inherit; /* Behold farver fra indholdet */
  display: inline-block;
}

.produkt-kort {
  transition: 0.3s ease;
}

.produkt-kort:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Anmeldelser */

.anmeldelser {
  padding-top: 20px;
  background-color: white;
  text-align: center;
  padding-left: 80px;
  padding-bottom: 20px;
}

.anmeldelser h2 {
  margin-bottom: 32px;
  text-align: left;
}

.anmeldelse-grid {
  display: flex;
  justify-content: left;
  gap: 150px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.anmeldelse {
  max-width: 350px;
  text-align: left;
}

.anmeldelse img {
  width: 100px;
  height: auto;
  margin-bottom: 16px;
}
.anmeldelser p {
  font-size: 18px;
  color: #4C413B;
  margin-top: 8px;
}
/* druekæde */
.druer2 img {
  width: 100%;
  height: auto;
  margin-top: -160px;
  position: relative;
}

/* Tilmed nyhedsbrev */

.nyhedsbrev {
  text-align: center;
  padding-bottom: 50px;
  color: white;
  background-color: #D6CABB;
  width: 100%;
}

.nyhedsbrev h2 {
  font-size: 48px; 
}

.nyhedsbrev p {
  font-size: 18px;
  display: flex;
  color: #4C413B;
  margin-bottom: 30px;
  font-family: "montserrat", sans-serif;
  justify-content: center;
}

.nyhedsbrev-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nyhedsbrev-form input[type="email"] {
  padding: 15px 20px;
  width: 450px;
  font-size: 16px;
  font-family: "montserrat", sans-serif;  
  font-weight: 100;
  border: none;
}

.nyhedsbrev-form button {
  background-color: #5E534D;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  font-family: "montserrat", sans-serif;  
  font-weight: 100;
  border: none;
}
.nyhedsbrev-form button:hover {
  background-color: white;
  color: #5E534D;
 
}

/* footer */

.footer {
  padding: 60px;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  margin-top: 50px;
}

.footer-logo h2 {
  font-family: serif;
  font-size: 40px;
  display: flex;
}

.footer-kolonner {
  display: flex;
  gap: 170px;
  justify-content: center;
}

.footer-kolonne h3 {
  font-weight: bold;
  font-family: "montserrat", sans-serif;
  margin-bottom: 10px;
}

.footer-kolonne ul {
  list-style: none;
  padding: 0;
}

.footer-kolonne li {
  margin-bottom: 2px;
}

.footer-kolonne a {
  text-decoration: none;
  color: #4C413B;
  font-size: 18px;
}

.social-icons img {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 30px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

/*Responsiv styling*/

@media (max-width: 768px) {

  /*footer*/
  .footer-kolonner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-kolonne {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {

  /*Body*/
  h2 {
    font-size: 18px !important;
  }

  p {
    font-size: 12px !important;
    
  }
  a {
    font-size: 12px !important;
    
  }
  h3 {
    font-size: 18px !important;
    
  }
  h1 {
    font-size: 18px !important;
    padding-bottom: 10px;
  }
  .knap1,
  .knap2,
  .knap {
    text-align: center;
    margin-bottom: 20px;
  }
  /*Forside billede*/
  .overlay-image  h2 {
    margin-top: 80px;
    padding-top: 5px;
  }
  .overlay-image  h3 {
    font-size: 12px !important;
  }
  .forsidebillede img {
    padding-top: 100px;

  }
  .section {
    margin-top: -20px;
  }
  .overlay-image2 h2,
  .overlay-image2 p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .text-content,
  .text-content2,
  .vinsmag-card h2,
  .vinsmag-card p,
  .footer-kolonne {
    text-align: center;
  }
  .vinsmag-grid {
    flex-direction: column;
    align-items: center;

  }

  .text-content,
  .oplevhavblink-content {
    padding: 20px;
    align-items: center;
  }
  .druebillede,
  .druebillede2,
  .overlay-image2 {
      display: none;
    }
    
  /* Hvem er vi */
  .hvemervisection {
      grid-template-columns: 1fr; /* én kolonne i stedet for to */
    }
 .hvemervisection p {
      text-align: center;
    }
/*Oplev Havblink */
    .oplevhavblink-image {
      order: -1; /* gør billedet til det første */
    }
    .oplevhavblink-section {
      grid-template-columns: 1fr; /* én kolonne i stedet for to */
  }

.oplevhavblink-section p {
  text-align: center;
  }

  .produkt-info {
    flex-direction: column;
  }

/*Karussel */
  .karussel img {
    width: 70%;
  }
  .udforsk-karussel {
    gap: 0px;
  }

  .karussel h2 {
    gap: 20px;
  }
/*Druer */
  .druer img {
    display: none;
  }
  .druer2 img {
    display: none;
  }

/* Anmeldelser */
  .anmeldelse-grid {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.anmeldelse-grid {
  gap: 30px;
  padding-right: 150px;
  text-align: left;
  grid-template-columns: 2fr;
  flex-direction: column;
  padding-left: 100px;
}
.anmeldelse p {
  align-items: left

}

.anmeldelser h2 {
  padding-right: 80px;
  text-align: center;
}

/*Nyhedsbrev*/
.nyhedsbrev-form {
  flex-direction: column;
}

.nyhedsbrev-form input[type="email"] {
  width: 80%;
}
.nyhedsbrev h2 {
  padding-top: 30px;
}
.nyhedsbrev {
  margin-top: -20px;
}
.nyhedsbrev h2,
  .nyhedsbrev p {
    text-align: center;
  }

  .nyhedsbrev-form input[type="email"] {
    padding: 12px 20px;
    font-size: 12px;
    width: 300px;
  }
  .nyhedsbrev-form button {
    padding: 12px 20px;
    font-size: 12px;
    
  }
}